@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>God's Divine Story or GDS is an online bible study tool that allows you to creat a 3d perspective of each object reffered to in the bile. This allows you to picture the events and objects more clearly. This tool also includes additianal dictionaries, maps and commentaries to aid you in your understanding of the bible.</p>