@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Online<br />
    <abbr title="Phone">P:</abbr>
    +27 73 154 4450
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@wirelessministeringevents.co.za">admin@wirelessministeringevents.co.za</a><br />
    <strong>Info:</strong> <a href="mailto:info@wirelessministeringevents.co.za">info@wirelessministeringevents.co.za</a>
</address>